.UniCard {
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 4px 10px #4cf;

  margin: 1em;
  padding: 0.5em;

  max-width: 10em;

}

.UniCard:hover {
  box-shadow: 2px 4px 10px #f55;
}

.UniCard ul {
  margin: 0;
  padding: 0;
}

.UniCard ul li {
  list-style-type: none;
}

.UniCard .char {
  font-size: 4em;
  text-align: center;
  vertical-align: middle;

  -font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  min-height: 1.5em;
  min-width: 1.5em;

  -float: left;
}